body {
    background-color: aqua;
}
h1 {
    background-color: red;
    }
#wrapper {
    width: 1200px;
    margin: 0 auto;
}

}
.link:hover{
    color: gray;
    cursor: pointer;
}

.link {
        position: absolute;
    margin-bottom: 20px;
    margin-top: 20px;
}


.link:active {
    background-color: dimgray;
    transform: translate(2px, 2px);
}
